@font-face {
    font-family: 'AH-font';
    src:    url('fonts/AH-font.eot?z4faja');
    src:    url('fonts/AH-font.eot?z4faja#iefix') format('embedded-opentype'),
        url('fonts/AH-font.ttf?z4faja') format('truetype'),
        url('fonts/AH-font.woff?z4faja') format('woff'),
        url('fonts/AH-font.svg?z4faja#AH-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ahfont-"], [class*=" ahfont-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'AH-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ahfont-walk:before {
    content: "\e900";
}
.ahfont-car189:before {
    content: "\e901";
}
.ahfont-check34:before {
    content: "\e902";
}
.ahfont-interior-design:before {
    content: "\e903";
}
.ahfont-plan:before {
    content: "\e904";
}
.ahfont-house253:before {
    content: "\e905";
}
.ahfont-6:before {
    content: "\e8d7";
}
.ahfont-1:before {
    content: "\e818";
}
.ahfont-12:before {
    content: "\e819";
}
.ahfont-4:before {
    content: "\e81a";
}
.ahfont-alarm:before {
    content: "\e81b";
}
.ahfont-apartment2:before {
    content: "\e81c";
}
.ahfont-arrow-down-circle:before {
    content: "\e81d";
}
.ahfont-arrow-down:before {
    content: "\e81e";
}
.ahfont-arrow-left-circle:before {
    content: "\e81f";
}
.ahfont-arrow-left:before {
    content: "\e820";
}
.ahfont-arrow-right-circle:before {
    content: "\e821";
}
.ahfont-arrow-right:before {
    content: "\e822";
}
.ahfont-arrow-up-circle:before {
    content: "\e823";
}
.ahfont-arrow-up:before {
    content: "\e824";
}
.ahfont-bicycle:before {
    content: "\e825";
}
.ahfont-bold:before {
    content: "\e826";
}
.ahfont-book:before {
    content: "\e827";
}
.ahfont-bookmark:before {
    content: "\e828";
}
.ahfont-briefcase:before {
    content: "\e829";
}
.ahfont-bubble:before {
    content: "\e82a";
}
.ahfont-bullhorn:before {
    content: "\e82c";
}
.ahfont-bus:before {
    content: "\e82d";
}
.ahfont-calendar-full:before {
    content: "\e82e";
}
.ahfont-camera-video:before {
    content: "\e82f";
}
.ahfont-camera:before {
    content: "\e830";
}
.ahfont-car:before {
    content: "\e831";
}
.ahfont-cart:before {
    content: "\e832";
}
.ahfont-chart-bars:before {
    content: "\e833";
}
.ahfont-checkmark-circle:before {
    content: "\e834";
}
.ahfont-chevron-down-circle:before {
    content: "\e835";
}
.ahfont-chevron-down:before {
    content: "\e836";
}
.ahfont-chevron-left-circle:before {
    content: "\e837";
}
.ahfont-chevron-left:before {
    content: "\e838";
}
.ahfont-chevron-right-circle:before {
    content: "\e839";
}
.ahfont-chevron-right:before {
    content: "\e83a";
}
.ahfont-chevron-up-circle:before {
    content: "\e83b";
}
.ahfont-chevron-up:before {
    content: "\e83c";
}
.ahfont-circle-minus:before {
    content: "\e83d";
}
.ahfont-clock:before {
    content: "\e83e";
}
.ahfont-cloud-check:before {
    content: "\e83f";
}
.ahfont-cloud-download:before {
    content: "\e840";
}
.ahfont-cloud-sync:before {
    content: "\e841";
}
.ahfont-cloud-upload:before {
    content: "\e842";
}
.ahfont-cloud:before {
    content: "\e843";
}
.ahfont-code:before {
    content: "\e844";
}
.ahfont-coffee-cup:before {
    content: "\e845";
}
.ahfont-cog:before {
    content: "\e846";
}
.ahfont-construction:before {
    content: "\e847";
}
.ahfont-crop:before {
    content: "\e848";
}
.ahfont-cross-circle:before {
    content: "\e849";
}
.ahfont-cross:before {
    content: "\e84a";
}
.ahfont-database:before {
    content: "\e84b";
}
.ahfont-diamond:before {
    content: "\e84c";
}
.ahfont-dice:before {
    content: "\e84d";
}
.ahfont-dinner:before {
    content: "\e84e";
}
.ahfont-direction-ltr:before {
    content: "\e84f";
}
.ahfont-direction-rtl:before {
    content: "\e850";
}
.ahfont-download:before {
    content: "\e851";
}
.ahfont-drop:before {
    content: "\e852";
}
.ahfont-earth2:before {
    content: "\e853";
}
.ahfont-enter-down:before {
    content: "\e854";
}
.ahfont-enter:before {
    content: "\e855";
}
.ahfont-envelope:before {
    content: "\e856";
}
.ahfont-exit-up:before {
    content: "\e857";
}
.ahfont-exit:before {
    content: "\e858";
}
.ahfont-eye:before {
    content: "\e859";
}
.ahfont-file-add:before {
    content: "\e85a";
}
.ahfont-file-empty:before {
    content: "\e85b";
}
.ahfont-film-play:before {
    content: "\e85c";
}
.ahfont-flag:before {
    content: "\e85d";
}
.ahfont-frame-contract:before {
    content: "\e85e";
}
.ahfont-frame-expand:before {
    content: "\e85f";
}
.ahfont-funnel:before {
    content: "\e860";
}
.ahfont-gift:before {
    content: "\e861";
}
.ahfont-graduation-hat:before {
    content: "\e862";
}
.ahfont-hand2:before {
    content: "\e863";
}
.ahfont-heart-pulse:before {
    content: "\e864";
}
.ahfont-heart2:before {
    content: "\e865";
}
.ahfont-highlight:before {
    content: "\e866";
}
.ahfont-history:before {
    content: "\e867";
}
.ahfont-home:before {
    content: "\e868";
}
.ahfont-hourglass:before {
    content: "\e869";
}
.ahfont-inbox:before {
    content: "\e86a";
}
.ahfont-indent-decrease:before {
    content: "\e86b";
}
.ahfont-indent-increase:before {
    content: "\e86c";
}
.ahfont-italic:before {
    content: "\e86d";
}
.ahfont-keyboard:before {
    content: "\e86e";
}
.ahfont-laptop-phone:before {
    content: "\e86f";
}
.ahfont-laptop:before {
    content: "\e870";
}
.ahfont-layers:before {
    content: "\e871";
}
.ahfont-leaf:before {
    content: "\e872";
}
.ahfont-license:before {
    content: "\e873";
}
.ahfont-lighter:before {
    content: "\e874";
}
.ahfont-line-spacing:before {
    content: "\e875";
}
.ahfont-linearicons:before {
    content: "\e876";
}
.ahfont-link:before {
    content: "\e877";
}
.ahfont-list:before {
    content: "\e878";
}
.ahfont-location:before {
    content: "\e879";
}
.ahfont-lock:before {
    content: "\e87a";
}
.ahfont-magic-wand:before {
    content: "\e87b";
}
.ahfont-magnifier:before {
    content: "\e87c";
}
.ahfont-map-marker:before {
    content: "\e87d";
}
.ahfont-map:before {
    content: "\e87e";
}
.ahfont-menu-circle:before {
    content: "\e87f";
}
.ahfont-menu:before {
    content: "\e880";
}
.ahfont-mic:before {
    content: "\e881";
}
.ahfont-moon:before {
    content: "\e882";
}
.ahfont-move:before {
    content: "\e883";
}
.ahfont-music-note:before {
    content: "\e884";
}
.ahfont-mustache:before {
    content: "\e885";
}
.ahfont-neutral:before {
    content: "\e886";
}
.ahfont-page-break:before {
    content: "\e887";
}
.ahfont-paperclip:before {
    content: "\e888";
}
.ahfont-paw:before {
    content: "\e889";
}
.ahfont-pencil:before {
    content: "\e88a";
}
.ahfont-phone-handset:before {
    content: "\e88b";
}
.ahfont-phone:before {
    content: "\e88c";
}
.ahfont-picture:before {
    content: "\e88d";
}
.ahfont-pie-chart:before {
    content: "\e88e";
}
.ahfont-pilcrow:before {
    content: "\e88f";
}
.ahfont-plus-circle:before {
    content: "\e890";
}
.ahfont-pointer-down:before {
    content: "\e891";
}
.ahfont-pointer-left:before {
    content: "\e892";
}
.ahfont-pointer-right:before {
    content: "\e893";
}
.ahfont-pointer-up:before {
    content: "\e894";
}
.ahfont-poop:before {
    content: "\e895";
}
.ahfont-power-switch:before {
    content: "\e896";
}
.ahfont-printer:before {
    content: "\e897";
}
.ahfont-pushpin:before {
    content: "\e898";
}
.ahfont-question-circle:before {
    content: "\e899";
}
.ahfont-redo:before {
    content: "\e89a";
}
.ahfont-rocket:before {
    content: "\e89b";
}
.ahfont-sad:before {
    content: "\e89c";
}
.ahfont-screen:before {
    content: "\e89d";
}
.ahfont-select:before {
    content: "\e89e";
}
.ahfont-shirt:before {
    content: "\e89f";
}
.ahfont-smartphone:before {
    content: "\e8a0";
}
.ahfont-smile:before {
    content: "\e8a1";
}
.ahfont-sort-alpha-asc:before {
    content: "\e8a2";
}
.ahfont-sort-amount-asc:before {
    content: "\e8a3";
}
.ahfont-spell-check:before {
    content: "\e8a4";
}
.ahfont-star-empty:before {
    content: "\e8a5";
}
.ahfont-star-half:before {
    content: "\e8a6";
}
.ahfont-star:before {
    content: "\e8a7";
}
.ahfont-store:before {
    content: "\e8a8";
}
.ahfont-strikethrough:before {
    content: "\e8a9";
}
.ahfont-sun:before {
    content: "\e8aa";
}
.ahfont-sync:before {
    content: "\e8ab";
}
.ahfont-tablet:before {
    content: "\e8ac";
}
.ahfont-tag:before {
    content: "\e8ad";
}
.ahfont-text-align-center:before {
    content: "\e8ae";
}
.ahfont-text-align-justify:before {
    content: "\e8af";
}
.ahfont-text-align-left:before {
    content: "\e8b0";
}
.ahfont-text-align-right:before {
    content: "\e8b1";
}
.ahfont-text-format-remove:before {
    content: "\e8b2";
}
.ahfont-text-format:before {
    content: "\e8b3";
}
.ahfont-text-size:before {
    content: "\e8b4";
}
.ahfont-thumbs-down:before {
    content: "\e8b5";
}
.ahfont-thumbs-up:before {
    content: "\e8b6";
}
.ahfont-train:before {
    content: "\e8b7";
}
.ahfont-trash:before {
    content: "\e8b8";
}
.ahfont-underline:before {
    content: "\e8b9";
}
.ahfont-undo:before {
    content: "\e8ba";
}
.ahfont-unlink:before {
    content: "\e8bb";
}
.ahfont-upload:before {
    content: "\e8bc";
}
.ahfont-user:before {
    content: "\e8bd";
}
.ahfont-users:before {
    content: "\e8be";
}
.ahfont-volume-high:before {
    content: "\e8bf";
}
.ahfont-volume-low:before {
    content: "\e8c0";
}
.ahfont-volume-medium:before {
    content: "\e8c1";
}
.ahfont-volume:before {
    content: "\e8c2";
}
.ahfont-warning:before {
    content: "\e8c3";
}
.ahfont-wheelchair:before {
    content: "\e8c4";
}
.ahfont-2:before {
    content: "\e8c5";
}
.ahfont-3:before {
    content: "\e8c6";
}
.ahfont-5:before {
    content: "\e8c7";
}
.ahfont-Add_x40_2xpng:before {
    content: "\e651";
}
.ahfont-Address_Book_x40_2xpng:before {
    content: "\e652";
}
.ahfont-Admission_Ticket:before {
    content: "\e653";
}
.ahfont-Admission_Tickets:before {
    content: "\e654";
}
.ahfont-Airplay_Logo:before {
    content: "\e655";
}
.ahfont-Android:before {
    content: "\e656";
}
.ahfont-At_Symbol:before {
    content: "\e657";
}
.ahfont-Atlas:before {
    content: "\e658";
}
.ahfont-Atom:before {
    content: "\e659";
}
.ahfont-Audio_0:before {
    content: "\e65a";
}
.ahfont-Audio_1:before {
    content: "\e65b";
}
.ahfont-Audio_2:before {
    content: "\e65c";
}
.ahfont-Audio_3:before {
    content: "\e65d";
}
.ahfont-Audio_Muted:before {
    content: "\e65e";
}
.ahfont-Bandaid:before {
    content: "\e65f";
}
.ahfont-Bar_Chart_x40_2xpng:before {
    content: "\e660";
}
.ahfont-Barcode_Scan:before {
    content: "\e661";
}
.ahfont-Barcode_Search:before {
    content: "\e662";
}
.ahfont-Barcode:before {
    content: "\e663";
}
.ahfont-Battery_1:before {
    content: "\e664";
}
.ahfont-Battery_2:before {
    content: "\e665";
}
.ahfont-Battery_3:before {
    content: "\e666";
}
.ahfont-Battery_4:before {
    content: "\e667";
}
.ahfont-Battery_5:before {
    content: "\e668";
}
.ahfont-Battery_Charging:before {
    content: "\e669";
}
.ahfont-Beaker_1:before {
    content: "\e66a";
}
.ahfont-Beaker_2:before {
    content: "\e66b";
}
.ahfont-Beaker_3:before {
    content: "\e66c";
}
.ahfont-Bell_x40_2xpng:before {
    content: "\e66d";
}
.ahfont-Billboard_1:before {
    content: "\e66e";
}
.ahfont-Billboard_2:before {
    content: "\e66f";
}
.ahfont-Binoculars:before {
    content: "\e670";
}
.ahfont-Bitcoin_Coin:before {
    content: "\e671";
}
.ahfont-Bitcoin_Coins:before {
    content: "\e672";
}
.ahfont-Bluetooth:before {
    content: "\e673";
}
.ahfont-Bone:before {
    content: "\e674";
}
.ahfont-Book_x40_2xpng:before {
    content: "\e675";
}
.ahfont-Bookmark_1:before {
    content: "\e676";
}
.ahfont-Bookmark_2:before {
    content: "\e677";
}
.ahfont-Bookshelf:before {
    content: "\e678";
}
.ahfont-Boom_Box:before {
    content: "\e679";
}
.ahfont-Bottle:before {
    content: "\e67a";
}
.ahfont-Bow_Tie:before {
    content: "\e67b";
}
.ahfont-Box_Download_x40_2xpng:before {
    content: "\e67c";
}
.ahfont-Box_Upload_x40_2xpng:before {
    content: "\e67d";
}
.ahfont-Box_with_More_x40_2xpng:before {
    content: "\e67e";
}
.ahfont-Box_with_Papers_x40_2xpng:before {
    content: "\e67f";
}
.ahfont-Box_with_Video_Files_x40_2xpng:before {
    content: "\e680";
}
.ahfont-Box_x40_2xpng:before {
    content: "\e681";
}
.ahfont-Briefcase_x40_2xpng:before {
    content: "\e682";
}
.ahfont-Broken_Heart_1:before {
    content: "\e683";
}
.ahfont-Broken_Heart_2:before {
    content: "\e684";
}
.ahfont-Browser_with_Compass:before {
    content: "\e685";
}
.ahfont-Browser:before {
    content: "\e686";
}
.ahfont-Browsers:before {
    content: "\e687";
}
.ahfont-Building_x40_2xpng:before {
    content: "\e688";
}
.ahfont-Calculator:before {
    content: "\e689";
}
.ahfont-Calendar_1_x40_2xpng:before {
    content: "\e68a";
}
.ahfont-Calendar_2_x40_2xpng:before {
    content: "\e68b";
}
.ahfont-Camera_with_Film_Strip:before {
    content: "\e68c";
}
.ahfont-Camera_with_Polaroid:before {
    content: "\e68d";
}
.ahfont-Camera_with_Wide_Angle:before {
    content: "\e68e";
}
.ahfont-Camera:before {
    content: "\e68f";
}
.ahfont-Cameras:before {
    content: "\e690";
}
.ahfont-Cash_Register:before {
    content: "\e691";
}
.ahfont-Celsius:before {
    content: "\e692";
}
.ahfont-Chat_Bubble_Dots_x40_2xpng:before {
    content: "\e693";
}
.ahfont-Chat_Bubble_x40_2xpng:before {
    content: "\e694";
}
.ahfont-Chat_Bubbles_x40_2xpng:before {
    content: "\e695";
}
.ahfont-Checkmark_1_x40_2xpng:before {
    content: "\e696";
}
.ahfont-Checkmark_2_x40_2xpng:before {
    content: "\e697";
}
.ahfont-Chromecast_Logo:before {
    content: "\e698";
}
.ahfont-Circle_Outline_Down:before {
    content: "\e699";
}
.ahfont-Circle_Outline_Up:before {
    content: "\e69a";
}
.ahfont-Circle_Outline_with_Dot:before {
    content: "\e69b";
}
.ahfont-Circle_Outline:before {
    content: "\e69c";
}
.ahfont-Clipboard_x40_2xpng:before {
    content: "\e69d";
}
.ahfont-Clock_1_x40_2xpng:before {
    content: "\e69e";
}
.ahfont-Clock_2_x40_2xpng:before {
    content: "\e69f";
}
.ahfont-Cloud_1:before {
    content: "\e6a0";
}
.ahfont-Cloud_2:before {
    content: "\e6a1";
}
.ahfont-Cloud_Download:before {
    content: "\e6a2";
}
.ahfont-Cloud_Sync:before {
    content: "\e6a3";
}
.ahfont-Cloud_Upload:before {
    content: "\e6a4";
}
.ahfont-Cloud_with_Lightning:before {
    content: "\e6a5";
}
.ahfont-Cloud_with_Rain_1:before {
    content: "\e6a6";
}
.ahfont-Cloud_with_Rain_2:before {
    content: "\e6a7";
}
.ahfont-Cloud_with_Rain_3:before {
    content: "\e6a8";
}
.ahfont-Cloud_with_Rain_Lightning:before {
    content: "\e6a9";
}
.ahfont-Cloud_with_Snow:before {
    content: "\e6aa";
}
.ahfont-Cloud_with_Sun:before {
    content: "\e6ab";
}
.ahfont-Command_Line:before {
    content: "\e6ac";
}
.ahfont-Compass:before {
    content: "\e6ad";
}
.ahfont-Contact_Card_1_x40_2xpng:before {
    content: "\e6ae";
}
.ahfont-Contact_Card_2_x40_2xpng:before {
    content: "\e6af";
}
.ahfont-Contact_Cards_1_x40_2xpng:before {
    content: "\e6b0";
}
.ahfont-Contact_Cards_2_x40_2xpng:before {
    content: "\e6b1";
}
.ahfont-Credit_Card:before {
    content: "\e6b2";
}
.ahfont-Credit_Cards:before {
    content: "\e6b3";
}
.ahfont-Crossbones:before {
    content: "\e6b4";
}
.ahfont-Curved_Arrow_Down:before {
    content: "\e6b5";
}
.ahfont-Curved_Arrow_Left:before {
    content: "\e6b6";
}
.ahfont-Curved_Arrow_Right:before {
    content: "\e6b7";
}
.ahfont-Curved_Arrow_Up:before {
    content: "\e6b8";
}
.ahfont-Desk:before {
    content: "\e6b9";
}
.ahfont-Desktop_Download:before {
    content: "\e6ba";
}
.ahfont-Desktop_Left:before {
    content: "\e6bb";
}
.ahfont-Desktop_Right:before {
    content: "\e6bc";
}
.ahfont-Desktop_Sync:before {
    content: "\e6bd";
}
.ahfont-Desktop_Upload:before {
    content: "\e6be";
}
.ahfont-Desktop:before {
    content: "\e6bf";
}
.ahfont-Diamond_x40_2xpng:before {
    content: "\e6c0";
}
.ahfont-DLNA_Logo:before {
    content: "\e6c1";
}
.ahfont-Dollar_Coin:before {
    content: "\e6c2";
}
.ahfont-Dollar_Coins:before {
    content: "\e6c3";
}
.ahfont-Down_Arrow_1:before {
    content: "\e6c4";
}
.ahfont-Down_Arrow_2:before {
    content: "\e6c5";
}
.ahfont-Down_Arrow_3:before {
    content: "\e6c6";
}
.ahfont-Down_Arrow_4:before {
    content: "\e6c7";
}
.ahfont-Down_Arrow_5:before {
    content: "\e6c8";
}
.ahfont-Down_Arrow_6:before {
    content: "\e6c9";
}
.ahfont-Download_1:before {
    content: "\e6ca";
}
.ahfont-Download_2:before {
    content: "\e6cb";
}
.ahfont-Drawers_1:before {
    content: "\e6cc";
}
.ahfont-Drawers_2:before {
    content: "\e6cd";
}
.ahfont-Drawers_3:before {
    content: "\e6ce";
}
.ahfont-Dribbble_Circle:before {
    content: "\e6cf";
}
.ahfont-Dribbble_Square:before {
    content: "\e6d0";
}
.ahfont-Dropbox_Circle:before {
    content: "\e6d1";
}
.ahfont-Dropbox_Square:before {
    content: "\e6d2";
}
.ahfont-Droplet:before {
    content: "\e6d3";
}
.ahfont-Eject:before {
    content: "\e6d4";
}
.ahfont-Envelope_x40_2xpng:before {
    content: "\e6d5";
}
.ahfont-Envelopes_x40_2xpng:before {
    content: "\e6d6";
}
.ahfont-Error_x40_2xpng:before {
    content: "\e6d7";
}
.ahfont-Euro_Coin:before {
    content: "\e6d8";
}
.ahfont-Euro_Coins:before {
    content: "\e6d9";
}
.ahfont-Exit_1:before {
    content: "\e6da";
}
.ahfont-Exit_2:before {
    content: "\e6db";
}
.ahfont-Eye_x40_2xpng:before {
    content: "\e6dc";
}
.ahfont-Facebook_Circle:before {
    content: "\e6dd";
}
.ahfont-Facebook_Square_x40_2xpng:before {
    content: "\e6de";
}
.ahfont-Fahrenheit:before {
    content: "\e6df";
}
.ahfont-Fast_Forward:before {
    content: "\e6e0";
}
.ahfont-File_Type_AI:before {
    content: "\e6e1";
}
.ahfont-File_Type_GIF:before {
    content: "\e6e2";
}
.ahfont-File_Type_JPG:before {
    content: "\e6e3";
}
.ahfont-File_Type_PDF:before {
    content: "\e6e4";
}
.ahfont-File_Type_PNG:before {
    content: "\e6e5";
}
.ahfont-File_Type_PSD:before {
    content: "\e6e6";
}
.ahfont-Filter_Add_x40_2xpng:before {
    content: "\e6e7";
}
.ahfont-Filter_Remove_x40_2xpng:before {
    content: "\e6e8";
}
.ahfont-Filter_x40_2xpng:before {
    content: "\e6e9";
}
.ahfont-Finder:before {
    content: "\e6ea";
}
.ahfont-Flag_1:before {
    content: "\e6eb";
}
.ahfont-Flag_2:before {
    content: "\e6ec";
}
.ahfont-Floppy_Disk_1:before {
    content: "\e6ed";
}
.ahfont-Floppy_Disk_2:before {
    content: "\e6ee";
}
.ahfont-Folder_More_x40_2xpng:before {
    content: "\e6ef";
}
.ahfont-Folder_Search_x40_2xpng:before {
    content: "\e6f0";
}
.ahfont-Folder_x40_2xpng:before {
    content: "\e6f1";
}
.ahfont-Folders_x40_2xpng:before {
    content: "\e6f2";
}
.ahfont-Forked_Path:before {
    content: "\e6f3";
}
.ahfont-Full_Screen_Reverse:before {
    content: "\e6f4";
}
.ahfont-Full_Screen:before {
    content: "\e6f5";
}
.ahfont-Game_Controler:before {
    content: "\e6f6";
}
.ahfont-Gift_x40_2xpng:before {
    content: "\e6f7";
}
.ahfont-Global_Connection:before {
    content: "\e6f8";
}
.ahfont-Globe_1:before {
    content: "\e6f9";
}
.ahfont-Globe_2:before {
    content: "\e6fa";
}
.ahfont-Globe_with_Arrows:before {
    content: "\e6fb";
}
.ahfont-Globes:before {
    content: "\e6fc";
}
.ahfont-Google_Plus_Circle:before {
    content: "\e6fd";
}
.ahfont-Google_Plus_Square:before {
    content: "\e6fe";
}
.ahfont-Graduation:before {
    content: "\e6ff";
}
.ahfont-Grid_1:before {
    content: "\e700";
}
.ahfont-Grid_2:before {
    content: "\e701";
}
.ahfont-Grid_3:before {
    content: "\e702";
}
.ahfont-Grid_4:before {
    content: "\e703";
}
.ahfont-Grid_5:before {
    content: "\e704";
}
.ahfont-Grid_6:before {
    content: "\e705";
}
.ahfont-Grid_7:before {
    content: "\e706";
}
.ahfont-Grid_8:before {
    content: "\e707";
}
.ahfont-Grid_9:before {
    content: "\e708";
}
.ahfont-Grid_10:before {
    content: "\e709";
}
.ahfont-Grid_11:before {
    content: "\e70a";
}
.ahfont-Grid_12:before {
    content: "\e70b";
}
.ahfont-Handbag:before {
    content: "\e70c";
}
.ahfont-Hard_Drive:before {
    content: "\e70d";
}
.ahfont-Headphones_1:before {
    content: "\e70e";
}
.ahfont-Headphones_2:before {
    content: "\e70f";
}
.ahfont-Headphones_3:before {
    content: "\e710";
}
.ahfont-Health_Circle:before {
    content: "\e711";
}
.ahfont-Health_Square:before {
    content: "\e712";
}
.ahfont-Heart_x40_2xpng:before {
    content: "\e713";
}
.ahfont-Help_x40_2xpng:before {
    content: "\e714";
}
.ahfont-Home_x40_2xpng:before {
    content: "\e715";
}
.ahfont-Inbox_Download:before {
    content: "\e716";
}
.ahfont-Inbox_Full:before {
    content: "\e717";
}
.ahfont-Inbox_Upload:before {
    content: "\e718";
}
.ahfont-Inbox:before {
    content: "\e719";
}
.ahfont-Inboxes:before {
    content: "\e71a";
}
.ahfont-Infinite:before {
    content: "\e71b";
}
.ahfont-Info_x40_2xpng:before {
    content: "\e71c";
}
.ahfont-Instagram_Circle:before {
    content: "\e71d";
}
.ahfont-Instagram_Square:before {
    content: "\e71e";
}
.ahfont-Key_1_x40_2xpng:before {
    content: "\e71f";
}
.ahfont-Key_2_x40_2xpng:before {
    content: "\e720";
}
.ahfont-Keyboard_Down:before {
    content: "\e721";
}
.ahfont-Keyboard_Up:before {
    content: "\e722";
}
.ahfont-Keyboard:before {
    content: "\e723";
}
.ahfont-Laptop:before {
    content: "\e724";
}
.ahfont-Left_Arrow_1:before {
    content: "\e725";
}
.ahfont-Left_Arrow_2:before {
    content: "\e726";
}
.ahfont-Left_Arrow_3:before {
    content: "\e727";
}
.ahfont-Left_Arrow_4:before {
    content: "\e728";
}
.ahfont-Left_Arrow_5:before {
    content: "\e729";
}
.ahfont-Left_Arrow_6:before {
    content: "\e72a";
}
.ahfont-Life_Preserver_x40_2xpng:before {
    content: "\e72b";
}
.ahfont-Lightning_Bolt_x40_2xpng:before {
    content: "\e72c";
}
.ahfont-LinkedIn_Circle:before {
    content: "\e72d";
}
.ahfont-LinkedIn_Square:before {
    content: "\e72e";
}
.ahfont-List_1_x40_2xpng:before {
    content: "\e72f";
}
.ahfont-List_2_x40_2xpng:before {
    content: "\e730";
}
.ahfont-List_3_x40_2xpng:before {
    content: "\e731";
}
.ahfont-Location_Pin_1:before {
    content: "\e732";
}
.ahfont-Location_Pin_2:before {
    content: "\e733";
}
.ahfont-Location_Pin_3:before {
    content: "\e734";
}
.ahfont-Location_Target:before {
    content: "\e735";
}
.ahfont-Lock_x40_2xpng:before {
    content: "\e736";
}
.ahfont-Magnify_Glass_x40_2xpng:before {
    content: "\e737";
}
.ahfont-Mail:before {
    content: "\e738";
}
.ahfont-Mails:before {
    content: "\e739";
}
.ahfont-Map_1:before {
    content: "\e73a";
}
.ahfont-Map_2:before {
    content: "\e73b";
}
.ahfont-Medicine_Bottle:before {
    content: "\e73c";
}
.ahfont-Megaphone_1:before {
    content: "\e73d";
}
.ahfont-Megaphone_2:before {
    content: "\e73e";
}
.ahfont-Megaphone_3:before {
    content: "\e73f";
}
.ahfont-Microphone_2:before {
    content: "\e740";
}
.ahfont-Microphone:before {
    content: "\e741";
}
.ahfont-Mobile:before {
    content: "\e742";
}
.ahfont-Moon_Cycle_1:before {
    content: "\e743";
}
.ahfont-Moon_Cycle_2:before {
    content: "\e744";
}
.ahfont-Moon_Cycle_3:before {
    content: "\e745";
}
.ahfont-Moon_Cycle_4:before {
    content: "\e746";
}
.ahfont-Moon_Cycle_5:before {
    content: "\e747";
}
.ahfont-Moon_Cycle_6:before {
    content: "\e748";
}
.ahfont-Moon_Cycle_7:before {
    content: "\e749";
}
.ahfont-Moon_Cycle_8:before {
    content: "\e74a";
}
.ahfont-Moon_with_Craters:before {
    content: "\e74b";
}
.ahfont-Moon:before {
    content: "\e74c";
}
.ahfont-More_1_x40_2xpng:before {
    content: "\e74d";
}
.ahfont-More_2_x40_2xpng:before {
    content: "\e74e";
}
.ahfont-Mouse:before {
    content: "\e74f";
}
.ahfont-Move:before {
    content: "\e750";
}
.ahfont-Music_Note_1_x40_2xpng:before {
    content: "\e751";
}
.ahfont-Music_Note_2_x40_2xpng:before {
    content: "\e752";
}
.ahfont-Music_Note_in_a_Circle:before {
    content: "\e753";
}
.ahfont-Music_Note_in_a_Square_1:before {
    content: "\e754";
}
.ahfont-Music_Note_in_a_Square_2:before {
    content: "\e755";
}
.ahfont-Music_Note_in_a_Square_3:before {
    content: "\e756";
}
.ahfont-Neck_Tie:before {
    content: "\e757";
}
.ahfont-Newspaper_x40_2xpng:before {
    content: "\e758";
}
.ahfont-Newspapers_x40_2xpng:before {
    content: "\e759";
}
.ahfont-Next:before {
    content: "\e75a";
}
.ahfont-No_Entry_x40_2xpng:before {
    content: "\e75b";
}
.ahfont-Note_x40_2xpng:before {
    content: "\e75c";
}
.ahfont-Notepad_x40_2xpng:before {
    content: "\e75d";
}
.ahfont-Old_Building_x40_2xpng:before {
    content: "\e75e";
}
.ahfont-Old_TV:before {
    content: "\e75f";
}
.ahfont-Orbit:before {
    content: "\e760";
}
.ahfont-OS_Windows:before {
    content: "\e761";
}
.ahfont-OS_X:before {
    content: "\e762";
}
.ahfont-Page_1_x40_2xpng:before {
    content: "\e763";
}
.ahfont-Page_2_x40_2xpng:before {
    content: "\e764";
}
.ahfont-Pages_1_x40_2xpng:before {
    content: "\e765";
}
.ahfont-Pages_2_x40_2xpng:before {
    content: "\e766";
}
.ahfont-Paper_Airplane_x40_2xpng:before {
    content: "\e767";
}
.ahfont-Paper_Bitcoin_1:before {
    content: "\e768";
}
.ahfont-Paper_Bitcoin_2:before {
    content: "\e769";
}
.ahfont-Paper_Bitcoin:before {
    content: "\e76a";
}
.ahfont-Paper_Clip:before {
    content: "\e76b";
}
.ahfont-Paper_Dollar:before {
    content: "\e76c";
}
.ahfont-Paper_Dollars_1:before {
    content: "\e76d";
}
.ahfont-Paper_Dollars_2:before {
    content: "\e76e";
}
.ahfont-Paper_Euro:before {
    content: "\e76f";
}
.ahfont-Paper_Euros_1:before {
    content: "\e770";
}
.ahfont-Paper_Euros_2:before {
    content: "\e771";
}
.ahfont-Paper_Shredder:before {
    content: "\e772";
}
.ahfont-Pause:before {
    content: "\e773";
}
.ahfont-Pencil_x40_2xpng:before {
    content: "\e774";
}
.ahfont-Phone_1_x40_2xpng:before {
    content: "\e775";
}
.ahfont-Phone_2_x40_2xpng:before {
    content: "\e776";
}
.ahfont-Photo_List_x40_2xpng:before {
    content: "\e777";
}
.ahfont-Photo_x40_2xpng:before {
    content: "\e778";
}
.ahfont-Photos_2_x40_2xpng:before {
    content: "\e779";
}
.ahfont-Photos_3_x40_2xpng:before {
    content: "\e77a";
}
.ahfont-Photos_x40_2xpng:before {
    content: "\e77b";
}
.ahfont-Pie_Chart_x40_2xpng:before {
    content: "\e77c";
}
.ahfont-Pill:before {
    content: "\e77d";
}
.ahfont-Pinterest_Circle:before {
    content: "\e77e";
}
.ahfont-Pinterest_Square:before {
    content: "\e77f";
}
.ahfont-Play:before {
    content: "\e780";
}
.ahfont-Podcasts_1:before {
    content: "\e781";
}
.ahfont-Podcasts_2:before {
    content: "\e782";
}
.ahfont-Popout:before {
    content: "\e783";
}
.ahfont-Posicle:before {
    content: "\e784";
}
.ahfont-Power:before {
    content: "\e785";
}
.ahfont-Presentation_1:before {
    content: "\e786";
}
.ahfont-Presentation_2:before {
    content: "\e787";
}
.ahfont-Presentation_3:before {
    content: "\e788";
}
.ahfont-Presentation_4:before {
    content: "\e789";
}
.ahfont-Presentation_5:before {
    content: "\e78a";
}
.ahfont-Printer:before {
    content: "\e78b";
}
.ahfont-Radar:before {
    content: "\e78c";
}
.ahfont-Radio:before {
    content: "\e78d";
}
.ahfont-Rainbow:before {
    content: "\e78e";
}
.ahfont-Receipt:before {
    content: "\e78f";
}
.ahfont-Receipts:before {
    content: "\e790";
}
.ahfont-Record_Player:before {
    content: "\e791";
}
.ahfont-Record:before {
    content: "\e792";
}
.ahfont-Refresh_1:before {
    content: "\e793";
}
.ahfont-Refresh_2:before {
    content: "\e794";
}
.ahfont-Refresh_3:before {
    content: "\e795";
}
.ahfont-Refresh_4:before {
    content: "\e796";
}
.ahfont-Remove_x40_2xpng:before {
    content: "\e797";
}
.ahfont-Right_Angle_Arrow_1:before {
    content: "\e798";
}
.ahfont-Right_Angle_Arrow_2:before {
    content: "\e799";
}
.ahfont-Right_Arrow_1:before {
    content: "\e79a";
}
.ahfont-Right_Arrow_2:before {
    content: "\e79b";
}
.ahfont-Right_Arrow_3:before {
    content: "\e79c";
}
.ahfont-Right_Arrow_4:before {
    content: "\e79d";
}
.ahfont-Right_Arrow_5:before {
    content: "\e79e";
}
.ahfont-Right_Arrow_6:before {
    content: "\e79f";
}
.ahfont-Road_Signs:before {
    content: "\e7a0";
}
.ahfont-Rocket:before {
    content: "\e7a1";
}
.ahfont-Router:before {
    content: "\e7a2";
}
.ahfont-RSS_1:before {
    content: "\e7a3";
}
.ahfont-RSS_2:before {
    content: "\e7a4";
}
.ahfont-Safe:before {
    content: "\e7a5";
}
.ahfont-Scissors:before {
    content: "\e7a6";
}
.ahfont-Server_Connections_x40:before {
    content: "\e7a7";
}
.ahfont-Servers:before {
    content: "\e7a8";
}
.ahfont-Settings_1_x40_2xpng:before {
    content: "\e7a9";
}
.ahfont-Settings_2_x40_2xpng:before {
    content: "\e7aa";
}
.ahfont-Settings_3_x40_2xpng:before {
    content: "\e7ab";
}
.ahfont-Share_2:before {
    content: "\e7ac";
}
.ahfont-Share_3:before {
    content: "\e7ad";
}
.ahfont-Share:before {
    content: "\e7ae";
}
.ahfont-Sheild_x40_2xpng:before {
    content: "\e7af";
}
.ahfont-Shopping_Bag:before {
    content: "\e7b0";
}
.ahfont-Shopping_Bags:before {
    content: "\e7b1";
}
.ahfont-Shopping_Basket_In:before {
    content: "\e7b2";
}
.ahfont-Shopping_Basket_Left:before {
    content: "\e7b3";
}
.ahfont-Shopping_Basket_Minus:before {
    content: "\e7b4";
}
.ahfont-Shopping_Basket_Out:before {
    content: "\e7b5";
}
.ahfont-Shopping_Basket_Plus:before {
    content: "\e7b6";
}
.ahfont-Shopping_Basket_Right:before {
    content: "\e7b7";
}
.ahfont-Shopping_Basket:before {
    content: "\e7b8";
}
.ahfont-Shopping_Cart_In:before {
    content: "\e7b9";
}
.ahfont-Shopping_Cart_Left:before {
    content: "\e7ba";
}
.ahfont-Shopping_Cart_Minus:before {
    content: "\e7bb";
}
.ahfont-Shopping_Cart_Out:before {
    content: "\e7bc";
}
.ahfont-Shopping_Cart_Plus:before {
    content: "\e7bd";
}
.ahfont-Shopping_Cart_Right:before {
    content: "\e7be";
}
.ahfont-Shopping_Cart:before {
    content: "\e7bf";
}
.ahfont-Shuffle:before {
    content: "\e7c0";
}
.ahfont-Sign_Post:before {
    content: "\e7c1";
}
.ahfont-Square_Outline_Down:before {
    content: "\e7c2";
}
.ahfont-Square_Outline_Up:before {
    content: "\e7c3";
}
.ahfont-Square_Outline_with_Cube:before {
    content: "\e7c4";
}
.ahfont-Square_Outline:before {
    content: "\e7c5";
}
.ahfont-Stack_1:before {
    content: "\e7c6";
}
.ahfont-Stack_2:before {
    content: "\e7c7";
}
.ahfont-Star_in_Circle_x40_2xpng:before {
    content: "\e7c8";
}
.ahfont-Star_x40_2xpng:before {
    content: "\e7c9";
}
.ahfont-Stars_x40_2xpng:before {
    content: "\e7ca";
}
.ahfont-Stop:before {
    content: "\e7cb";
}
.ahfont-Storefront_x40_2xpng:before {
    content: "\e7cc";
}
.ahfont-Suitcase_x40_2xpng:before {
    content: "\e7cd";
}
.ahfont-Suitcases_x40_2xpng:before {
    content: "\e7ce";
}
.ahfont-Sun:before {
    content: "\e7cf";
}
.ahfont-Sunrise:before {
    content: "\e7d0";
}
.ahfont-Sunset:before {
    content: "\e7d1";
}
.ahfont-Tablet:before {
    content: "\e7d2";
}
.ahfont-Tag_x40_2xpng:before {
    content: "\e7d3";
}
.ahfont-Tags_x40_2xpng:before {
    content: "\e7d4";
}
.ahfont-Target:before {
    content: "\e7d5";
}
.ahfont-Tea_Cup:before {
    content: "\e7d6";
}
.ahfont-Test_Tube:before {
    content: "\e7d7";
}
.ahfont-Text_Align_Center:before {
    content: "\e7d8";
}
.ahfont-Text_Align_Justify:before {
    content: "\e7d9";
}
.ahfont-Text_Align_Left:before {
    content: "\e7da";
}
.ahfont-Text_Align_Right:before {
    content: "\e7db";
}
.ahfont-Thermometer:before {
    content: "\e7dc";
}
.ahfont-Toggles_1_x40_2xpng:before {
    content: "\e7dd";
}
.ahfont-Toggles_2_x40_2xpng:before {
    content: "\e7de";
}
.ahfont-Toggles_3_x40_2xpng:before {
    content: "\e7df";
}
.ahfont-Top_Charts_x40_2xpng:before {
    content: "\e7e0";
}
.ahfont-Top_Hat_with_Cane:before {
    content: "\e7e1";
}
.ahfont-Trash_Full_x40_2xpng:before {
    content: "\e7e2";
}
.ahfont-Trash_x40_2xpng:before {
    content: "\e7e3";
}
.ahfont-Tree:before {
    content: "\e7e4";
}
.ahfont-Tumblr_Circle:before {
    content: "\e7e5";
}
.ahfont-Tumblr_Square:before {
    content: "\e7e6";
}
.ahfont-Turn_Ahead:before {
    content: "\e7e7";
}
.ahfont-TV_Fuzz:before {
    content: "\e7e8";
}
.ahfont-TV:before {
    content: "\e7e9";
}
.ahfont-Twitter_Circle:before {
    content: "\e7ea";
}
.ahfont-Twitter_Square:before {
    content: "\e7eb";
}
.ahfont-Umbrella:before {
    content: "\e7ec";
}
.ahfont-Unlock_x40_2xpng:before {
    content: "\e7ed";
}
.ahfont-Up_Arrow_1:before {
    content: "\e7ee";
}
.ahfont-Up_Arrow_2:before {
    content: "\e7ef";
}
.ahfont-Up_Arrow_3:before {
    content: "\e7f0";
}
.ahfont-Up_Arrow_4:before {
    content: "\e7f1";
}
.ahfont-Up_Arrow_5:before {
    content: "\e7f2";
}
.ahfont-Up_Arrow_6:before {
    content: "\e7f3";
}
.ahfont-User_Female_x40_2xpng:before {
    content: "\e7f4";
}
.ahfont-User_Male_x40_2xpng:before {
    content: "\e7f5";
}
.ahfont-Users_1_x40_2xpng:before {
    content: "\e7f6";
}
.ahfont-Users_2_x40_2xpng:before {
    content: "\e7f7";
}
.ahfont-Video_1_x40_2xpng:before {
    content: "\e7f8";
}
.ahfont-Video_2_x40_2xpng:before {
    content: "\e7f9";
}
.ahfont-Video_Camera_1:before {
    content: "\e7fa";
}
.ahfont-Video_Camera_2:before {
    content: "\e7fb";
}
.ahfont-Video_Camera_3:before {
    content: "\e7fc";
}
.ahfont-Video_Camera_4:before {
    content: "\e7fd";
}
.ahfont-Videos_x40_2xpng:before {
    content: "\e7fe";
}
.ahfont-Vimeo_Circle:before {
    content: "\e7ff";
}
.ahfont-Vimeo_Square:before {
    content: "\e800";
}
.ahfont-Wallet_1:before {
    content: "\e801";
}
.ahfont-Wallet_2:before {
    content: "\e802";
}
.ahfont-Wallet_3:before {
    content: "\e803";
}
.ahfont-Warning_x40_2xpng:before {
    content: "\e804";
}
.ahfont-WiFi_Logo:before {
    content: "\e805";
}
.ahfont-Wind:before {
    content: "\e806";
}
.ahfont-Wine_Glass:before {
    content: "\e807";
}
.ahfont-WordPress_Circle:before {
    content: "\e808";
}
.ahfont-WordPress_Square:before {
    content: "\e809";
}
.ahfont-Wrench_x40_2xpng:before {
    content: "\e80a";
}
.ahfont-Write_x40_2xpng:before {
    content: "\e80b";
}
.ahfont-X_x40_2xpng:before {
    content: "\e80c";
}
.ahfont-Yahoo_Circle:before {
    content: "\e80d";
}
.ahfont-Yahoo_Square:before {
    content: "\e80e";
}
.ahfont-YouTube_Circle:before {
    content: "\e80f";
}
.ahfont-YouTube_Square:before {
    content: "\e810";
}
.ahfont-Zoom_In_x40_2xpng:before {
    content: "\e811";
}
.ahfont-Zoom_Out_x40_2xpng:before {
    content: "\e812";
}
.ahfont-Add_x40_2xpng2:before {
    content: "\e813";
}
.ahfont-airconditioning:before {
    content: "\e600";
}
.ahfont-anchor:before {
    content: "\e601";
}
.ahfont-apartment:before {
    content: "\e602";
}
.ahfont-beach_1:before {
    content: "\e603";
}
.ahfont-beach:before {
    content: "\e604";
}
.ahfont-bed:before {
    content: "\e605";
}
.ahfont-contract:before {
    content: "\e606";
}
.ahfont-disabled:before {
    content: "\e607";
}
.ahfont-Dishwasher:before {
    content: "\e608";
}
.ahfont-divemasks:before {
    content: "\e609";
}
.ahfont-door_1:before {
    content: "\e60a";
}
.ahfont-door:before {
    content: "\e60b";
}
.ahfont-drink:before {
    content: "\e60c";
}
.ahfont-earth_1:before {
    content: "\e60d";
}
.ahfont-earth:before {
    content: "\e60e";
}
.ahfont-elevator:before {
    content: "\e60f";
}
.ahfont-fence:before {
    content: "\e610";
}
.ahfont-flags:before {
    content: "\e611";
}
.ahfont-gym:before {
    content: "\e612";
}
.ahfont-hairdryer:before {
    content: "\e613";
}
.ahfont-hand:before {
    content: "\e614";
}
.ahfont-hanger_1:before {
    content: "\e615";
}
.ahfont-hanger:before {
    content: "\e616";
}
.ahfont-heart:before {
    content: "\e617";
}
.ahfont-hoover:before {
    content: "\e618";
}
.ahfont-hotel_1:before {
    content: "\e619";
}
.ahfont-hotel_2:before {
    content: "\e61a";
}
.ahfont-hotel_3:before {
    content: "\e61b";
}
.ahfont-hotel:before {
    content: "\e61c";
}
.ahfont-house_1:before {
    content: "\e61d";
}
.ahfont-house_2:before {
    content: "\e61e";
}
.ahfont-house_3:before {
    content: "\e61f";
}
.ahfont-house_4:before {
    content: "\e620";
}
.ahfont-house_5:before {
    content: "\e621";
}
.ahfont-house_6:before {
    content: "\e622";
}
.ahfont-house_7:before {
    content: "\e623";
}
.ahfont-house_8:before {
    content: "\e624";
}
.ahfont-house_9:before {
    content: "\e625";
}
.ahfont-house_10:before {
    content: "\e626";
}
.ahfont-house_11:before {
    content: "\e627";
}
.ahfont-house_12:before {
    content: "\e628";
}
.ahfont-house_13 .path1:before {
    content: "\e814";
    color: rgb(11, 128, 224);
}
.ahfont-house_13 .path2:before {
    content: "\e815";
    margin-left: -1em;
    color: rgb(11, 128, 224);
}
.ahfont-house_13 .path3:before {
    content: "\e816";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.ahfont-house_13 .path4:before {
    content: "\e817";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.ahfont-house_14:before {
    content: "\e629";
}
.ahfont-house_15:before {
    content: "\e62a";
}
.ahfont-house:before {
    content: "\e62b";
}
.ahfont-icecream:before {
    content: "\e62c";
}
.ahfont-key_1:before {
    content: "\e62d";
}
.ahfont-key:before {
    content: "\e62e";
}
.ahfont-ladder_1:before {
    content: "\e62f";
}
.ahfont-ladder:before {
    content: "\e630";
}
.ahfont-luggage:before {
    content: "\e631";
}
.ahfont-man:before {
    content: "\e632";
}
.ahfont-microwave:before {
    content: "\e633";
}
.ahfont-mountains:before {
    content: "\e634";
}
.ahfont-padlock:before {
    content: "\e635";
}
.ahfont-palms:before {
    content: "\e636";
}
.ahfont-parasol:before {
    content: "\e637";
}
.ahfont-parking:before {
    content: "\e638";
}
.ahfont-pets:before {
    content: "\e639";
}
.ahfont-plane_1:before {
    content: "\e63a";
}
.ahfont-plane:before {
    content: "\e63b";
}
.ahfont-radiator:before {
    content: "\e63c";
}
.ahfont-refrigerator:before {
    content: "\e63d";
}
.ahfont-rudder:before {
    content: "\e63e";
}
.ahfont-sailfish:before {
    content: "\e63f";
}
.ahfont-sea:before {
    content: "\e640";
}
.ahfont-seaview:before {
    content: "\e641";
}
.ahfont-shower:before {
    content: "\e642";
}
.ahfont-slippers:before {
    content: "\e643";
}
.ahfont-smoking_1:before {
    content: "\e644";
}
.ahfont-smoking:before {
    content: "\e645";
}
.ahfont-sold:before {
    content: "\e646";
}
.ahfont-starfish:before {
    content: "\e647";
}
.ahfont-suitcase_1:before {
    content: "\e648";
}
.ahfont-suitcase:before {
    content: "\e649";
}
.ahfont-sunglasses:before {
    content: "\e64a";
}
.ahfont-tv:before {
    content: "\e64b";
}
.ahfont-utensils:before {
    content: "\e64c";
}
.ahfont-villa:before {
    content: "\e64d";
}
.ahfont-virt_tour:before {
    content: "\e64e";
}
.ahfont-Washer:before {
    content: "\e64f";
}
.ahfont-wave:before {
    content: "\e650";
}
.ahfont-star2:before {
    content: "\e8c8";
}
.ahfont-video:before {
    content: "\e8c9";
}
.ahfont-trash2:before {
    content: "\e8ca";
}
.ahfont-key2:before {
    content: "\e8cb";
}
.ahfont-settings:before {
    content: "\e8cc";
}
.ahfont-camera2:before {
    content: "\e8cd";
}
.ahfont-tag2:before {
    content: "\e8ce";
}
.ahfont-location2:before {
    content: "\e8cf";
}
.ahfont-eye2:before {
    content: "\e8d0";
}
.ahfont-mail:before {
    content: "\e8d1";
}
.ahfont-params:before {
    content: "\e8d2";
}
.ahfont-clip:before {
    content: "\e8d3";
}
.ahfont-shop:before {
    content: "\e8d4";
}
.ahfont-calendar:before {
    content: "\e8d5";
}
.ahfont-truck:before {
    content: "\e8d6";
}

